* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*
    background-image: url(football-pattern-seamless-vector-23306769.jpg);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;*/
  background-color: #3ab6a6;
}

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 900px;
  background-image: url(../main\ content/Lovepik_com-450158586-Football\ Seamless\ Pattern\ Design.png);
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
  filter: opacity(0.3) blur(5px);
}

.fields {
  position: relative;
  width: 85%;
  height: auto;
  background-color: #003438;
  border-radius: 12px;
  margin: auto;
  margin-top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cards {
  height: 120px;
  border: 3px solid rgba(0, 0, 0, 0.308);
  background-color: rgb(219, 235, 241);
  margin: 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(219, 219, 219, 0.315);
}
.img-field {
  width: 150px;
  height: 100px;
  margin: 7px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px;
  filter: blur(0.5px);
  float: left;
}
.cards h4 {
  padding-top: 13px;
  margin-left: 170px;
  font-size: 25px;
  max-width: 700px;
  color: #023e42;
}
#loc-pin {
  height: 35px;
  filter: opacity(0.7);
  float: left;
}
.location {
  font-size: 16px;
}
.booking {
  background-color: #5bcab2;
  border: 0.5px solid rgba(0, 0, 0, 0.507);
  border-radius: 25px;
  color: rgb(219, 235, 241);
  margin-left: 53%;
  height: 40px;
  width: 140px;
  min-width: 100px;
  font-size: 18px;
}
.price {
  margin-left: 40%;
  padding-bottom: 0px;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.671);
  font-style: italic;
}
/* animation*/
.cards button:hover {
  transform: scale(1.1, 1.1);
  color: rgb(242, 255, 253);
  font-weight: 200;
  transition: 0.5s ease-in-out;
}
