body {
  background-color: #3ab6a6;
}
.background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1300px;
  background-image: url(../main\ content/Lovepik_com-450158586-Football\ Seamless\ Pattern\ Design.png);
  background-position: top;
  background-repeat: repeat-y;
  background-size: cover;
  z-index: -1;
  filter: opacity(0.3) blur(5px);
}
.header {
  /* position: fixed; */
  padding: 30px 100px;
  width: 85%;
  top: 0;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 300px;
  height: 380px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; */
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-90deg);
}

p {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  font-weight: 700;
  font-family: cursive;
}

.agitation {
  background-color: red;
}
.A {
  /* background-color: #2aad9d; */
  justify-content: space-evenly;
  display: flex;
  margin: 2%;
  margin-bottom: 10%;
}
.B {
  /* background-color: #2aad9d; */
  justify-content: space-evenly;
  display: flex;
  margin: 2%;
  margin-bottom: 10%;
}
.C {
  /* background-color: #2aad9d; */
  justify-content: space-evenly;
  display: flex;
  margin: 2%;
  margin-bottom: 10%;
}
.D {
  /* background-color: #2aad9d; */
  justify-content: space-evenly;
  display: flex;
  margin: 2%;
}
span {
  color: cadetblue;
}
var {
  color: white;
}
.tacpic {
  margin-left: 15%;
  width: 220px;
  height: 300px;
  border-radius: 10px;
}
.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25%;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  /*-webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));*/
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    rgba(31, 215, 232, 0.873) 60%
  );
  color: rgb(4, 4, 38);
}
